@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalnia&family=Lato&family=Libre+Baskerville:wght@400;700&family=Nunito:wght@300&family=PT+Sans+Narrow&family=Playfair+Display&family=Salsa&family=Satisfy&family=Ubuntu:wght@300;400&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family:Lato;
}